* {
    margin: 0px;
    padding: 0px;
    max-width: 100%; /*az alábbi két sorral eltüntethető a header comment-ben feltüntetett 'hiba'*/
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Vesper Libre', serif;
    color: rgb(207, 19, 107);
}

header {
    width: 100vw; /*100vw-nál megjelenik a vízszintes görgető sáv*/
    height: 100vh;
}

nav {
    width: 90%;
    margin: 10px auto;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0px 10px;
    color: rgb(207, 19, 107);
}

nav ul li a:hover {
    text-decoration: underline;
}

.strapline-container {
    width: 90%;
    height: 85%;
    border: 2px solid rgb(207, 19, 107);
    text-align: center;
    margin: auto auto;
    background-image: url(./images/donuts_header.jpg);
    background-size: cover;
    background-position: center;
}

.main-strapline {
    font-size: 140px;
    margin: 65px auto;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  
}

.second-strapline {
    font-style: italic;
    color: #FFFFDD;
    font-size: 40px;
    /*position: relative;
    top: 10px;*/
    padding-top: 10px;
    letter-spacing: 1px;
}

.section-title {
    font-size: 240%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

.about-section {
    width: 100vw;
    height: 90vh;
}

.about-container {
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.left-box {
    width: 45%;
    font-weight: bold;
    text-align: justify;
    line-height: 220%;
    letter-spacing: 0.8px;
}

.right-box {
    width: 40%;

    margin-left: 6%;
}

.top-row, .bottom-row {
    display: flex;
    flex-direction: row;
}

.grid-image-one {
    width: 50%;
    height: 240px;
    background-image: url(./images/toronto.jpg);
    background-position: center;
    background-size: cover;
}

.grid-image-two {
    width: 50%;
    height: 240px;
    background-image: url(./images/coffe1.jpg);
    background-position: center;
    background-size: cover;
}

.grid-image-three {
    width: 50%;
    height: 240px;
    background-image: url(./images/coffee2.jpg);
    background-position: center;
    background-size: cover;
}

.grid-image-four {
    width: 50%;
    height: 240px;
    background-image: url(./images/donuts2.jpg);
    background-position: center;
    background-size: cover;
}

.image-container {
    width: 100%;
}

.row-one, .row-two, .row-three {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}
.grid-item {
    height: 310px;
    width: 30%;
    margin: 15px auto;
   /* display: inline-block;*/
   background-position: center;
   background-size: cover;
}
.grid-item:hover{
    opacity: 0.8;
}

#donuts-one {
    background-image: url(./images/donuts_one.jpg);
}

#donuts-two {
    background-image: url(./images/donuts_two.jpg);
}

#donuts-three {
    background-image: url(./images/donuts2.jpg);
}

#donuts-four {
    background-image: url(./images/donuts_four.jpg);
}

#donuts-five {
    background-image: url(./images/donuts_five.jpg);
}

#donuts-six {
    background-image: url(./images/donuts_six.jpg);
}

#donuts-seven {
    background-image: url(./images/donuts_seven.jpg);
}

#donuts-eight {
    background-image: url(./images/donuts_eight.jpg);
}

#donuts-nine {
    background-image: url(./images/donuts_nine.jpg);
}

.stores-section {
    width: 100vw;
}

.stores-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}

.store-div {
    width: 30%;
    height: 240px;
    margin: 20px 30px;
    text-align: center;
}

h4 {
    font-size: 24px;
}

.contact-section {
    width: 100vw;
    height: 50vh;
    background-color: rgb(207, 19, 107);
    color: #FFFFDD;
    text-align: center;
}

.contact-title {
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    margin: 25px auto;
    text-transform: uppercase;
}

.email {
    font-size: 130%;
}

.social-media-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin: 0px auto;
}

.social-media-icon {
    margin: 0px 7.5px;
}